<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.baseurl }}/">Arch</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="https://github.com/arch-js">GitHub</a></li>
      <li><a href="https://twitter.com/archfw">Twitter</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a>Documentation</a>
        <ul class="dropdown">
          {% for article in site.data.articles %}
            <li><a href="{{ site.baseurl }}/docs/{{ article.filename }}.html">{{ forloop.index }} | {{ article.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </section>
</nav>
